<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Home</a>
    </div>
  </div>
</nav>

<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <h1>Employees in {{departmentName}} <button class="btn btn-primary" type="button" ng-click="addNew()" ng-disabled="employees.length >= maxAllowedEmployeesForDepartment">Add new</button> <button class="btn btn-sm btn-danger" type="button" ng-if="employees.length >= maxAllowedEmployeesForDepartment" ng-click="resetEmployees()">Reset</button></h1>
                    <h5 ng-if="employees.length">Workforce: {{employees.length}}</h5>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <ul ng-if="employees" class="list-group">
                    <li class="list-group-item clearfix" ng-repeat="employee in employees">
                        <div class="pull-left"><h4>{{employee.name}}</h4></div>
                        <button type="button" class="pull-right btn-sm btn btn-danger" ng-click="removeEmployee(employee)"><span class="glyphicon glyphicon-remove"></span></button>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row" ng-if="employees.length >= maxAllowedEmployeesForDepartment">
            <div class="col-md-12">
                <div class="alert alert-danger" role="alert">Reached maximum number of capacity for employees in {{departmentName}} department.</div>
            </div>
        </div>
    </div>
</div>